{% extends "AppBundle::layout.html.twig" %}
{% from "PHPKTemplateBundle::import.html.twig" import phpk %}
{% block body %}
    <h1>Ddqcontrat modification</h1>
    <div class="zone-info">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        {{ phpk('bouton', { label: 'Modifier', image: 'modifier',value:'Modifier',type:'submit' }) }}
        <input type="submit" value="Modifier"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('ddqcontrat_index') }}">Retour à la liste</a>
        </li>

    </ul>
    </div>
{% endblock %}
