{% extends "AppBundle::layout.html.twig" %}
{% from "PHPKTemplateBundle::import.html.twig" import phpk %}
{% block body %}
    <h1>Ddqcontrat</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ddqContrat.id }}</td>
        </tr>
        <tr>
            <th>Tempspartiel</th>
            <td>{% if ddqContrat.tempspartiel %}Oui{% else %}Non{% endif %}</td>
        </tr>
        <tr>
            <th>Libellé du Contrat</th>
            <td>{{ ddqContrat.nbheures }}</td>
        </tr>
        <tr>
            <th>Horairecontractuel</th>
            <td>{{ ddqContrat.horairecontractuel }}</td>
        </tr>
        <tr>
            <th>Nombre de jours</th>
            <td>{{ ddqContrat.nbjours }}</td>
        </tr>
        <tr>
            <th>Nombre de demies journees</th>
            <td>{{ ddqContrat.nbdemiesjournees }}</td>
        </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ddqcontrat_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('ddqcontrat_edit', { 'id': ddqContrat.id }) }}">Modifier</a>
        </li>

    </ul>
{% endblock %}
