{% extends "AppBundle::layout.html.twig" %}
{% from "PHPKTemplateBundle::import.html.twig" import phpk %}

{% block body %}
    <h2>Organismes:</h2>
    <ul>
        {% set i = 0 %}
        {% for organisme in organismes %}
            {% set i = i + 1 %}
            <li>{{ i }} - {{ organisme.nomComplet }}</li>
        {% endfor %}
    </ul>
    <h2>Sites:</h2>
    <ul>
        {% set i = 0 %}
        {% for site in sites %}
            {% set i = i + 1 %}
            <li>{{ i }} - {{ site.nomSite }}</li>
        {% endfor %}
    </ul>
    <h2>Entites:</h2>
    <ul>
        {% set i = 0 %}
        {% for entite in entites %}
            {% set i = i + 1 %}
            <li>{{ i }} - {{ entite.idSite }}</li>
        {% endfor %}
    </ul>
    <h2>Agents:</h2>
    <table>
        {% set i = 0 %}
        {% for agent in agents %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }} - {{ agent.nomComplet }}</td>
                <td>{{ agent.idOrganisme }}</td>
                <td>{{ agent.idSite }}</td>
                <td>{{ agent.Contact }}</td>
            </tr>


        {% endfor %}
    </table>
{% endblock %}